include pywapor/collect/product/MODIS_tiles.geojson
include pywapor/collect/product/SRTM30_tiles.geojson
include pywapor/collect/product/GLO30.txt
include pywapor/collect/product/GLO90.txt
prune tests/
prune docs/
prune examples/